<section>
	<form name="createPost" role="form" ng-submit="postcreate.create()">
		<fieldset class="form-group">
			<input class="form-control input-lg" type="text" placeholder="Titulo del post" ng-model="postcreate.post.title">
		</fieldset>
		<fieldset>
			<textarea class="form-control input-lg" placeholder="Texto del post" ng-model="postcreate.post.text"></textarea>
		</fieldset>
		<button class="btn btn-primray btn-lg" type="submit" ng-disabled="!createPost.$valid">
			<span class="fa fa-rocket"> Publicar</span>
		</button>
	</form>
</section>